* {
  font-family: "Lexend", sans-serif;
}

#m-section-1 {
  min-height: 100vh;
  background: url(img/img-1.jpeg) no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0;
  padding: 24px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(250, 250, 250, 0.436);
}

header h2 {
  margin: 0;
}

#m-section-1 > header > #nav-1 {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  justify-content: flex-end;
}

#m-section-1 > header > #nav-1 > .nav-text {
  line-height: calc(2rem + 1.5vw);
  text-align: center;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

#nav-2 {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  justify-content: flex-end;
}

#nav-2 .fig-1{
  line-height: calc(1.5rem + 1.5vw);
  text-align: center;
  margin: 0;
}
